<div id="available" class="well" style="margin-top: 10px;"> 
 <%= form_tag check_avalability_path, :method => :get, remote: true, :id=> "" do %>
    <label>Check Availability</label>
    <%= text_field_tag :zipcode, nil, :placeholder =>"Enter Zipcode", :style => "margin-left: 25px;" %>
    <%= submit_tag "Submit", :class => "small primary", :style => "margin-left: 25px;" %>
  <% end %>   
</div>
