<h6 class="product-section-title"><%= Spree.t(:look_for_similar_items) %></h6>

<% @product.relations.each do |relation| %>
  <% related_product = Spree::Product.find_by_id( relation.related_to_id ) %>
    <div class="related-product"> 
      <%= link_to small_image(related_product), product_path(related_product) %>
    </div>
  <% end %>
