<div id="" class="footer_dry">
	<div class="foot_wp">
		<div class="foot1">
  		<div class="foot_heading">
      	Our awards
      </div><!--foot_heading-->
      <span class="clear"></span>
      <p>Best British Brand 2011<br />CEW (UK) Beauty Awards</p>
      <p>Best Online Retailer 2014<br />Which? Awards</p>
  	</div><!--foot1-->
  	<div class="foot2">
  		<div class="foot_heading">
      	Can we help?
      </div><!--foot_heading-->
      <span class="clear"></span>
      <p>Call us: +91-731-403-5928  <br />Monday to Friday 9:30am – 10:00pm <br />Saturday 9:00am – 4:00pm</p>
      <p>Delivery information<br />Returns & refunds<br />Help online shopping</p>
  	</div><!--foot1-->
  	<div class="foot3">
   		<div class="foot_heading">
      	Be the first to know
      </div><!--foot_heading-->
      <span class="clear"></span>
      <div class="discover">Discover new products, offers and much more with our email updates
      </div>
      <div class="Social_media_wp">
      	<div class="Social_box">
          <span class="social_text">Join us on Facebook</span>
          <span class="social_icon"><a href="#"><img src="/assets/icon_facebook.jpg" /></a></span>
        </div><!--Social_box-->
        <span class="clear"></span>
        <div class="Social_box">
        	<span class="social_text">Follow us on Twitter</span>
          <span class="social_icon"><a href="#"><img src="/assets/icon_twitter.jpg" /></a></span>
        </div><!--Social_box-->
        <span class="clear"></span>
     	</div><!--Social_media_wp-->
    </div><!--foot1-->
</div>
  