<% unless @product_properties2.empty? %>  
  <h6 class="product-section-title"><%= Spree.t('properties')%></h6>
  <table id="product-properties" class="table-display" data-hook>
    <tbody style="float:right;margin-top: -28%; margin-right: 100px;">
      <% @product_properties2.each do |product_property| %>
        <% css_class = cycle('even', 'odd', :name => "properties") %>
        <tr class="<%= css_class %>">
          <td><strong><%= product_property.property.presentation %></strong></td>
          <td><%= product_property.value %></td>
        </tr>
      <% end %>
      <% reset_cycle('properties') %>
    </tbody>
  </table>
<% end %>
