<p>Averate rating</p>
<div id="star"></div>

<p>Your rating</p>
<div id="user_star"></div>
<%# debugger %>
<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @product.average_rating %>,
    path: '/assets'
  });

  $('#user_star').raty({
    score: <%= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
</script>