<% if !@texon.nil? %>
	<div class="field">
	  <%= select_tag 'taxon_id2', options_for_select(@texon.collect{ |c| [c.name, c.id] }),  :class => 'dropdown_menu',:prompt => "Select Brand" %>
	</div>
<% end %>	
