<% if !@products.nil? %>
	<div class="field">
	  <%= select_tag 'product_id', options_for_select(@products.collect{ |c| [c.name, c.id] }),  :class => 'dropdown_menu',:prompt => "Select Product" %>
	</div>
<% end %>	
