<h3>About Us </h3>
<p>
CDN Solutions Group is an IT Company providing Software/ Web Development, Mobile Application Development and High-end Design & Multimedia Solutions. Founded in the year 2000 by two young and vibrant aspiring entrepreneurs Mr. Surajit Mitra and Mr. Chetan Naik, CDN Software Solutions Pvt. Ltd. is an ISO 9001:2008 certified and CRISIL rated company located in Indore (M.P), central India, a city which is on the verge of IT revolution in central India.(1 hour flight from Delhi and Mumbai).</p>

<h3>Technology Chart - 2012</h3>
<%= image_tag('/assets/store/nop-1.png')%>

<h3>CDN Team Growth Graph from 2000 - 2012</h3>
<%= image_tag('/assets/store/nop-2.png')%>