<div id="wrapper" data-hook="" class="container">
  <div class="bx-wrapper slider-pager"></div>
  <div id="content" class="columns sixteen" data-hook="">
    <div id="welcome-message">
      <div class="container" id="compare_container">
        <%= form_tag find_matched_path, :method => :get, remote: true, :id => "compare_product" do %>
          <h2 style="float: left; margin-top: -45px;">Compare Products </h2>
          <div class="alpha six columns">
            <h3 style="text-align: left;">First Product <h3>
            <div class="field">
              <%= select_tag 'taxonomy', options_for_select(@taxonomies.collect{ |c| [c.name, c.id] }),  :class => '',:prompt => "Select Category" %>
            </div>
            <div class="field" style="margin-top:10px; float: left;" id="texon_list">
            </div>
            <div class="field" style="margin-top: 55px;text-align: left;" id="product_list">
              
            </div>
          </div>  
          <div class="omega six columns">
            <h3 style="text-align: left;">Second Product <h3>
            <div class="field">
              <%= select_tag 'taxonomy1', options_for_select(@taxonomies.collect{ |c| [c.name, c.id] }),  :class => '',:prompt => "Select Category" %>
            </div>
            <div class="field" style="margin-top:10px; float: left;" id="texon_list_sec">
            </div>
             <div class="field" style="margin-top: 55px;text-align: left;" id="product_list1">
              
            </div>
          </div>  
          <%= submit_tag "Compare", :class => "large primary", :style => "margin-top:10px;" %>
        <% end %>
      </div>
    </div>
  </div>  
</div>

<script>
$( document ).ready(function() {
  $("#taxonomy").on("change", function(){
    var texonomy_id = $(this).val(),
      url = "/find_texons";
    $.ajax({
      type: "get",
      url: url,
      data: { texonomy_id: texonomy_id},
      success: function (data) {
        $("#texon_list").html(data)
      }
    })
  })

  $("#texon_list").on("change", "#taxon_id", function(){
    var texon_id = $(this).val(),
      url = "/find_products";
    $.ajax({
      type: "get",
      url: url,
      data: { texon_id: texon_id},
      success: function (data) {
        $("#product_list").html(data)
      }
    })
  })

  $("#taxonomy1").on("change", function(){
    var texonomy_id = $(this).val(),
      url = "/find_2_texons";
    $.ajax({
      type: "get",
      url: url,
      data: { texonomy_id1: texonomy_id},
      success: function (data) {
        $("#texon_list_sec").html(data)
      }
    })
  })

  $("#texon_list_sec").on("change", "#taxon_id2", function(){
    var texon_id = $(this).val(),
      url = "/find_2_products";
    $.ajax({
      type: "get",
      url: url,
      data: { texon_id: texon_id},
      success: function (data) {
        $("#product_list1").html(data)
      }
    })
  })

  $( "#compare_product" ).submit(function() {
    var taxon_id = $("#taxon_id").val(),
        taxon_id2 = $("#taxon_id2").val(),
        product_id = $("#product_id").val(),
        product_sec = $("#product_sec").val(),
        url = "/find_matched";
    if(product_id == "" && product_sec == ""){
      alert("Please Selctt Item")
      return false;
    }

    if(taxon_id =="" && taxon_id2 == ""){
      alert("Please Selctt Brand")
      return false;
    }    
    $.ajax({
      type: "get",
      url: url,
      data: {taxon_id: taxon_id, taxon_id2: taxon_id2, product_id: product_id, product_sec:product_sec},
      success: function (data) {
        $("#compare_container").html(data)
      }
    })
  })
});
</script>
<style>
#wrapper h3, #wrapper .search-results-title{
  border-bottom: 2px solid #FFFFFF;
  color: #50a2f3;
}

</style>                                                            